
@{
    ViewBag.Title = "Index";
}

@section Style {
    <!-- Bootstrap core CSS-->
    <!-- Custom styles for this template-->
    @*<link href="asset('custom_public/css/sb-admin.css')" rel="stylesheet">*@
    @Styles.Render("~/Content/custom_content/css/modern-business.css")
}

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('../../Content/custom_content/images/slide1.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Welcome to Clothing.com</h3>
                    <p>We are here to serve your needs.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('../../Content/custom_content/images/slide2.jpeg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>It's a better place</h3>
                    <p>To find any kind of cloth you want.</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('../../Content/custom_content/images/slide3.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>For Everyone </h3>
                    <p>And we tries to provide best service we can.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <h1 class="my-4">Looking For : </h1>

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Men's Clothing</h4>
                <img class="card-img-top" src="~/Content/custom_content/images/mc.jpeg" onerror="this.src = 'http://placehold.it/700x400'" alt="">
                <div class="card-body">
                    <p class="card-text"><strong> Check Out all Products of Men</strong></p>
                </div>
                <div class="card-footer">
                    <a href="/User/MensClothing" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Women's Clothing</h4>
                <img class="card-img-top" src="~/Content/custom_content/images/kurti3.jpg" onerror="this.src = 'http://placehold.it/700x400'" alt="">
                <div class="card-body">
                    <p class="card-text"><strong> Check Out all Products of Women</strong></p>
                </div>
                <div class="card-footer">
                    <a href="/User/WomensClothing" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Child's Clothing</h4>
                <img class="card-img-top" src="~/Content/custom_content/images/cc.jpeg" onerror="this.src = 'http://placehold.it/700x400'" alt="">
                <div class="card-body">
                    <p class="card-text"><strong> Check Out all Products of Child</strong></p>
                </div>
                <div class="card-footer">
                    <a href="/User/ChildsClothing" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

@if (TempData["msg"] != null)
{
    if (TempData["msg"].ToString() != "")
    {
        <script type="text/javascript">
                  alert( "@(TempData["msg"])");
        </script>
    }
}
